* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x:hidden;
    
    
        
    }


/* home section  */

#header {
    width: 100%;
    height: 100vh;
    background-color: #020412;
    color: #fff;
    padding: 0 8.5%;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 10px 20px;
}

.logo {
    font-weight: bold;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    -webkit-text-stroke: 2px red;
}

ul li {
    display: inline-block;
    margin-right: 62px;
    padding: 13px;
}

ul li a {
    text-decoration: none;
    text-transform: capitalize;
    color: #ffff;
    font-size: 28px;
    position: relative;
}

ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

ul li a:hover {
    color: yellow;
}

ul li a:hover::after {
    width: 100%;
}

.menu-icon {
    display: none;
}



.middle_box {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.main-contain {
    position: absolute;
    top: 40%;

}

.contact {
    border: 1px solid rgb(241, 240, 240);
    background-image: linear-gradient(yellow, red);
    color: #000;
    border-radius: 12px;
    box-shadow: 3px 3px 1px grey;
}

.text1 {
    font-size: 56px;
    padding-bottom: 20px;
}

.text1 span {
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: yellow;
}

.text2 {
    font-size: 40px;
    margin-bottom: 14px;

}

.text2 span {
    font-style: italic;
    font-weight: 600;
    color: #e905cb;

}

.button {
    margin-top: 43px;
}

.button a {
    padding: 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin-right: 30px;


}

.btn {
    margin-top: 12px;
    margin-right: 14px;
}

.bio {
    padding: 12px;
    border: 1px solid rgb(179, 0, 255);
    border-radius: 13px;
    background: linear-gradient(red, yellow);
    color: black;
    box-shadow: 6px 4px 3px gray;
}


.photo {
    position: relative;
    bottom: 273px;
    left: 874px;

}

.photo img {
    width: 400px;
    border-radius: 50%;
    box-shadow: 4px 3px 2px 3px greenyellow;
}


/* about section  */

#about {
    background-color: #6e7a99;
}

.section2 {
    margin-left: 15%;
    margin-right: 15%;

}

.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intr h3 {
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fff;

}

h4 {
    font-size: 2em;
    color: #ec0c0c;
}

span {
    color: blue;
}

p {
    font-size: 19px;
    color: #fff;
    padding-top: 14px;
    line-height: 22px;
}

.bttn {
    padding-left: 4px;
    padding-top: 12px;

}

.bttn a {
    text-decoration: none;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 600;
    background-color: #fb06c6;
    padding: 8px;
    border-radius: 12px;
}

/* portfolio section  */

#contain-skill {
    height: 90vh;
    width: 100%;
    background-color: aqua;
}

#contain-skill h2 {
    font-size: 35px;
    color: #e30606;
    text-align: center;
    padding-top: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.box-contain {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;


}

.lang {
    color: #000;
    text-align: center;
    font-size: 30px;
    font-weight: 600;

}

/* contact section  */

.row{
    display: inline-flex;
  margin-left: 237px;
  margin-top: 116px;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
    color: rgb(232, 220, 220);
}
.contact-left p i{
   color: #ff004f;
   margin-right: 15px;
   font-size: 25px;
}
.social-lcons{
    margin-top: 30px;
}

.social-lcons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #140ecc;
    display: inline-block;
    transition:trasform 0.5s;
}
.social-lcons a:hover{
color: #ff004f;
transform: translateY(-5px);
}

.bttnn.bttnn2{
    display: inline-block;
    background-color: #ff004f;
    text-decoration: none;
    padding: 21px;
    border-radius: 14px;
    color: rgb(254, 254, 254);
    margin-left: 230px;
    cursor: pointer;
    
}

.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
#contact{
    background-color: #141215;
}
.sub-title{
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#msg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}

footer {
    background-color: blue;
}

.footers {
    display: flex;
    align-items: center;
    justify-content: center;
}



.back-to-top {
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #8d8a8a;
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-decoration: none;
	transition: 0.2s ease-out;
	}
	
	.back-to-top span {
	color: #000000;
	font-size: 30px;
	transition: 0.2s ease-out;
	}
	
	.back-to-top:hover {
	background-color: #be1a3b;
	}
	.back-to-top:hover span {
	transform: translateY(-4px);
	}


/* responsive in mobile */



@media screen and (max-width:640px) {
    body{
        overflow-x: hidden;
    }

        .nav-links {
            display: none;
            flex-direction: column;
            position: absolute;
            top: 68px;
           
            width: 90%;
          background-color:#ff004f;
            text-align: center;
            z-index: 1;
        }

        .nav-links.active {
            display: flex;
        }

        .menu-icon {
            display: block;
            cursor: pointer;
        }


        .reds {
            position: relative;
            top: 423px;
        }

        .text1 {
            font-size: 36px;
        }

        .text2 {
            font-size: 26px;

        }

        #about img {
            width: 266px;
            box-shadow: 4px 3px 2px 3px rgb(211, 6, 16);
            border-radius: 50%;
        }

        #about{
            height: 866px;
        }

        .box-contain {
            padding-left: 24px;
        }

        .lang {
            font-size: 22px;
        }

        a:hover {
            color: yellow;
        }

        #contain-skill h2 {
            font-size: 25px;

    }

    .row {
        display: inline;
    }

    .container{
        padding: 36px;
    }
    .bttnn.bttnn2 {
        margin: 0px;
        

    }



}